{
    "extends": "rallycoding",
    /*"rules":
    {
        "no-debugger": 0,
        "no-mixed-spaces-and-tabs": [0],
        "no-tabs": 0,
        "skipBlankLines": 0,
        "ignoreComments": 0,
        "no-trailing-spaces": [2,
        {
            "skipBlankLines": true
        }]
    }*/
}